<div class="container d-flex flex-column align-items-center">
    <div class="bg-light d-flex align-items-center">
        <p class="project-cart-completed-order">@ViewBag.Message</p>
        <img src="~/img/logos/logo.png" />
    </div>
</div>
